*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.status-bar {
  display: flex;
  width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.game-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
} 